.jfx-button {
  -jfx-button-type: RAISED;
  -fx-background-color: blue;
  -fx-text-fill: white;
}

.layout {
  -fx-pref-height: 400.0;
  -fx-pref-width: 640.0;
}

.controls {
  -fx-pref-width: 400;
}
